<!-- START homeclassicmain REVOLUTION SLIDER 6.0.1 -->
<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery">
    <rs-module id="rev_slider_1_1" data-version="6.0.1" class="rev_slider_1_1_height">
        <rs-slides>

            {%- include banner-news.html -%}
            {%- include banner-product.html -%}
            {%- include banner-service.html -%}
            {%- include banner-project.html -%}

        </rs-slides>
    </rs-module>
    <!-- rs-module -->
</rs-module-wrap>
<!-- END REVOLUTION SLIDER -->