{% assign post = site.services.first %}

<!-- rs-slide -->
<rs-slide data-key="rs-4" data-title="Slide" data-thumb="assets/banner-background.jpg"
    data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">

    <img src="assets/banner-background.jpg" title="slider-mainbg-004" width="1920" height="790" class="rev-slidebg"
        data-no-retina>

    <rs-layer id="slider-1-slide-3-layer-0" data-type="text" data-color="#2d4a8a" data-rsp_ch="on"
        data-xy="x:l,l,c,c;xo:680px,561px,0,-364px;yo:316px,170px,84px,61px;"
        data-text="w:normal;s:18,15,15,10;l:25,20,15,9;fw:500;" data-vbility="t,t,t,f" data-frame_0="x:-50,-41,-31,-19;"
        data-frame_1="e:Linear.easeNone;st:120;sp:400;sR:120;" data-frame_999="o:0;st:w;sR:8480;"
        style="z-index:21;font-family:Poppins;">
        {{post.title}}
    </rs-layer>

    <rs-layer class="homepage-banner-tagline" id="slider-1-slide-3-layer-3" data-type="text" data-color="#1c2842"
        data-rsp_ch="on" data-xy="x:l,l,c,c;xo:680px,561px,0,0;yo:357px,204px,114px,59px;"
        data-text="w:normal;s:50,41,45,37;l:70,57,50,60;fw:600;" data-frame_0="x:-50,-41,-31,-19;"
        data-frame_1="e:Linear.easeNone;st:260;sp:800;sR:260;" data-frame_999="o:0;st:w;sR:7940;"
        style="z-index:19;font-family:Poppins;">{{post.tagline}}
    </rs-layer>

    <rs-layer class="homepage-banner-description" id="slider-1-slide-3-layer-12" data-type="text" data-color="#6e6e6e"
        data-rsp_ch="on" data-xy="x:l,l,c,c;xo:680px,561px,0,-409px;yo:509px,330px,227px,132px;"
        data-text="w:normal;a:left,left,center;s:15,15,15,9;l:28,23,27,16;fw:400,400,500,500;" data-vbility="t,t,t,f"
        data-frame_0="y:50,41,31,19;" data-frame_1="e:Linear.easeNone;st:630;sp:500;sR:630;"
        data-frame_999="o:0;st:w;sR:7870;" style="z-index:17;font-family:Poppins;">
        {{post.description | truncatewords: 33}}
    </rs-layer>

    <rs-layer id="slider-1-slide-3-layer-7" class="tm-img-bounce" data-type="image" data-rsp_ch="on"
        data-xy="xo:-10px,-132px,-523px,-267px;yo:206px,94px,66px,36px;" data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
        data-dim="w:579px,478px,363px,223px;h:553px,456px,346px,213px;" data-vbility="t,t,t,f"
        data-frame_0="x:-50,-41,-31,-19;" data-frame_1="st:100;sp:1000;" data-frame_999="o:0;st:w;sR:8500;"
        style="z-index:8;font-family:Roboto;"><img src="{{post.image}}" width="598" height="571"
            alt="banner-single_img2" data-no-retina>
    </rs-layer>

    <a href="{{post.externalUrl | default: post.url}}" id="slider-1-slide-3-layer-6" class="rs-layer" target="_self"
        rel="nofollow" data-type="text" data-rsp_ch="on"
        data-xy="x:l,l,c,c;xo:680px,561px,-68px,0;yo:598px,403px,319px,180px;"
        data-text="w:normal;s:15,12,12,12;l:26,22,25,30;fw:600;a:center;"
        data-padding="t:12,10,8,5;r:35,29,22,14;b:15,12,9,6;l:35,29,22,14;" data-border="bos:none;bow:0px,0px,0px,0px;"
        data-frame_0="y:50,41,31,19;" data-frame_1="e:Linear.easeNone;st:720;sp:500;sR:720;"
        data-frame_999="o:0;st:w;sR:7780;" data-frame_hover="c:#fff;bgc:#1c2842;"
        style="z-index:16;background-color:#2d4a8a;font-family:Poppins;">Know More
    </a>

</rs-slide>
<!-- rs-slide -->