<!-- START homeclassicmain REVOLUTION SLIDER 6.0.1 -->
<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery">
    <rs-module id="rev_slider_1_1" style="" data-version="6.0.1" class="rev_slider_1_1_height">
        <rs-slides>
            <!-- rs-slide -->
            <rs-slide data-key="rs-3" data-title="Slide" data-thumb="images/vector_page/vectorpage-banner-01.jpg"
                data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">

                <img src="images/vector_page/vectorpage-banner-01.jpg" title="slider-mainbg-003" width="1920"
                    height="790" class="rev-slidebg" data-no-retina>

                <rs-layer id="slider-1-slide-1-layer-0" data-type="text" data-color="#2d4a8a" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:680px,561px,0,-364px;yo:316px,170px,84px,61px;"
                    data-text="w:normal;s:18,15,15,10;l:25,20,15,9;fw:500;" data-vbility="t,t,t,f"
                    data-frame_0="x:-50,-41,-31,-19;" data-frame_1="e:Linear.easeNone;st:120;sp:400;sR:120;"
                    data-frame_999="o:0;st:w;sR:8480;" style="z-index:21;font-family:Poppins;">Delight your
                    Customers
                </rs-layer>

                <rs-layer id="slider-1-slide-1-layer-1" data-type="shape" data-rsp_ch="on"
                    data-xy="xo:904px,746px,-119px,-73px;yo:329px,181px,136px,83px;"
                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;" data-dim="w:36px,29px,22px,13px;h:2px,1px,1px,1px;"
                    data-vbility="t,t,f,f" data-frame_0="x:50,41,31,19;"
                    data-frame_1="e:Linear.easeNone;st:190;sp:200;sR:190;" data-frame_999="o:0;st:w;sR:8610;"
                    style="z-index:20;background-color:#2d4a8a;font-family:Roboto;">
                </rs-layer>

                <a id="slider-1-slide-1-layer-2" class="rs-layer" href="#" target="_self" rel="nofollow"
                    data-type="text" data-color="#1c2842"
                    data-xy="x:l,l,c,c;xo:900px,743px,75px,0;yo:598px,403px,320px,233px;"
                    data-text="w:normal;s:15,12,12,12;l:29,23,25,30;fw:600;a:center;"
                    data-padding="t:11,9,7,4;r:35,29,22,14;b:11,9,7,4;l:35,29,22,14;"
                    data-border="bos:solid;boc:#1c2842;bow:1px,1px,1px,1px;" data-frame_0="y:50,41,31,19;"
                    data-frame_1="e:Linear.easeNone;st:760;sp:500;sR:760;" data-frame_999="o:0;st:w;sR:7740;"
                    data-frame_hover="c:#fff;bgc:#1c2842;boc:#1c2842;bos:solid;bow:1px,1px,1px,1px;"
                    style="z-index:15;font-family:Poppins;">Contact Us
                </a>


                <rs-layer id="slider-1-slide-1-layer-3" data-type="text" data-color="#1c2842" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:680px,561px,0,0;yo:357px,204px,114px,59px;"
                    data-text="w:normal;s:50,41,45,37;l:70,57,50,60;fw:600;" data-frame_0="x:-50,-41,-31,-19;"
                    data-frame_1="e:Linear.easeNone;st:260;sp:800;sR:260;" data-frame_999="o:0;st:w;sR:7940;"
                    style="z-index:19;font-family:Poppins;">Dont’t Listen to What
                </rs-layer>


                <rs-layer id="slider-1-slide-1-layer-4" data-type="text" data-color="#1c2842"
                    data-xy="x:l,l,c,c;xo:680px,561px,0,0;yo:428px,263px,163px,104px;"
                    data-text="w:normal;s:50,41,45,37;l:72,59,60,60;fw:600;" data-frame_0="x:-50,-41,-31,-19;"
                    data-frame_1="st:410;sp:800;sR:410;" data-frame_999="o:0;st:w;sR:7790;"
                    style="z-index:18;font-family:Poppins;">They Say. <strong class="ttm-textcolor-skincolor">Go
                        See</strong>
                </rs-layer>

                <a id="slider-1-slide-1-layer-6" class="rs-layer" href="#" target="_self" rel="nofollow"
                    data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:680px,561px,-74px,0;yo:598px,403px,319px,180px;"
                    data-text="w:normal;s:15,12,12,12;l:26,22,25,30;fw:600;a:center;"
                    data-padding="t:12,10,8,5;r:35,29,22,14;b:15,12,9,6;l:35,29,22,14;"
                    data-border="bos:none;bow:0px,0px,0px,0px;" data-frame_0="y:50,41,31,19;"
                    data-frame_1="e:Linear.easeNone;st:720;sp:500;sR:720;" data-frame_999="o:0;st:w;sR:7780;"
                    data-frame_hover="c:#fff;bgc:#1c2842;"
                    style="z-index:16;background-color:#2d4a8a;font-family:Poppins;">View More Details
                </a>

                <rs-layer id="slider-1-slide-1-layer-7" class="tm-img-bounce" data-type="image" data-rsp_ch="on"
                    data-xy="xo:-110px,-132px,-523px,-267px;yo:206px,94px,66px,36px;"
                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                    data-dim="w:697px,575px,436px,268px;h:537px,443px,336px,207px;" data-vbility="t,t,t,f"
                    data-frame_0="sX:0.9;sY:0.9;" data-frame_1="e:Linear.easeNone;st:100;sp:400;sR:100;"
                    data-frame_999="o:0;st:w;sR:8500;" style="z-index:8;font-family:Roboto;"><img
                        src="images/vector_page/vectorpage-banner-single_img1.png" width="807" height="622"
                        data-no-retina alt="banner-single_img1">
                </rs-layer>


                <rs-layer id="slider-1-slide-1-layer-12" data-type="text" data-color="#6e6e6e" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:680px,561px,0,0;yo:509px,330px,237px,0;"
                    data-text="w:normal;s:15,15,15,9;l:28,23,27,16;fw:400,400,500,500;a:left,left,center;"
                    data-vbility="t,t,t,f" data-frame_0="y:50,41,31,19;"
                    data-frame_1="e:Linear.easeNone;st:630;sp:500;sR:630;" data-frame_999="o:0;st:w;sR:7870;"
                    style="z-index:17;font-family:Poppins;">We are equipped with an updated technical knowledge
                    to serve <br> customers properly. Our method of application industry.
                </rs-layer>

            </rs-slide>
            <!-- rs-slide -->

            <!-- rs-slide -->
            <rs-slide data-key="rs-4" data-title="Slide" data-thumb="images/vector_page/vectorpage-banner-01.jpg"
                data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">

                <img src="images/vector_page/vectorpage-banner-01.jpg" title="slider-mainbg-004" width="1920"
                    height="790" class="rev-slidebg" data-no-retina>

                <rs-layer id="slider-1-slide-3-layer-0" data-type="text" data-color="#2d4a8a" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:680px,561px,0,-364px;yo:316px,170px,84px,61px;"
                    data-text="w:normal;s:18,15,15,10;l:25,20,15,9;fw:500;" data-vbility="t,t,t,f"
                    data-frame_0="x:-50,-41,-31,-19;" data-frame_1="e:Linear.easeNone;st:120;sp:400;sR:120;"
                    data-frame_999="o:0;st:w;sR:8480;" style="z-index:21;font-family:Poppins;">Trust and Client
                    Focus
                </rs-layer>

                <rs-layer id="slider-1-slide-3-layer-1" data-type="shape" data-rsp_ch="on"
                    data-xy="xo:890px,746px,-119px,-73px;yo:329px,181px,136px,83px;"
                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;" data-dim="w:36px,29px,22px,13px;h:2px,1px,1px,1px;"
                    data-vbility="t,t,f,f" data-frame_0="x:50,41,31,19;"
                    data-frame_1="e:Linear.easeNone;st:190;sp:200;sR:190;" data-frame_999="o:0;st:w;sR:8610;"
                    style="z-index:20;background-color:#2d4a8a;font-family:Roboto;">
                </rs-layer>

                <a id="slider-1-slide-3-layer-2" class="rs-layer" href="#" target="_self" rel="nofollow"
                    data-type="text" data-color="#1c2842" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:845px,743px,60px,0;yo:598px,403px,320px,233px;"
                    data-text="w:normal;s:15,12,12,12;l:29,23,25,30;fw:600;a:center;"
                    data-padding="t:11,9,7,4;r:35,29,22,14;b:11,9,7,4;l:35,29,22,14;"
                    data-border="bos:solid;boc:#1c2842;bow:1px,1px,1px,1px;" data-frame_0="y:50,41,31,19;"
                    data-frame_1="e:Linear.easeNone;st:760;sp:500;sR:760;" data-frame_999="o:0;st:w;sR:7740;"
                    data-frame_hover="c:#fff;bgc:#1c2842;boc:#1c2842;bos:solid;bow:1px,1px,1px,1px;"
                    style="z-index:15;font-family:Poppins;">Contact Us
                </a>

                <rs-layer id="slider-1-slide-3-layer-3" data-type="text" data-color="#1c2842" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:680px,561px,0,0;yo:357px,204px,114px,59px;"
                    data-text="w:normal;s:50,41,45,37;l:70,57,50,60;fw:600;" data-frame_0="x:-50,-41,-31,-19;"
                    data-frame_1="e:Linear.easeNone;st:260;sp:800;sR:260;" data-frame_999="o:0;st:w;sR:7940;"
                    style="z-index:19;font-family:Poppins;">Best <strong class="ttm-textcolor-skincolor">Digital
                        Agency</strong>
                </rs-layer>

                <rs-layer id="slider-1-slide-3-layer-4" data-type="text" data-color="#1c2842" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:680px,561px,0,0;yo:428px,263px,163px,104px;"
                    data-text="w:normal;s:50,41,45,37;l:72,59,60,60;fw:600;" data-frame_0="x:-50,-41,-31,-19;"
                    data-frame_1="st:410;sp:800;sR:410;" data-frame_999="o:0;st:w;sR:7790;"
                    style="z-index:18;font-family:Poppins;">And Business
                </rs-layer>

                <a id="slider-1-slide-3-layer-6" class="rs-layer" href="#" target="_self" rel="nofollow"
                    data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:680px,561px,-68px,0;yo:598px,403px,319px,180px;"
                    data-text="w:normal;s:15,12,12,12;l:26,22,25,30;fw:600;a:center;"
                    data-padding="t:12,10,8,5;r:35,29,22,14;b:15,12,9,6;l:35,29,22,14;"
                    data-border="bos:none;bow:0px,0px,0px,0px;" data-frame_0="y:50,41,31,19;"
                    data-frame_1="e:Linear.easeNone;st:720;sp:500;sR:720;" data-frame_999="o:0;st:w;sR:7780;"
                    data-frame_hover="c:#fff;bgc:#1c2842;"
                    style="z-index:16;background-color:#2d4a8a;font-family:Poppins;">Read More
                </a>

                <rs-layer id="slider-1-slide-3-layer-7" class="tm-img-bounce" data-type="image" data-rsp_ch="on"
                    data-xy="xo:-10px,-132px,-523px,-267px;yo:206px,94px,66px,36px;"
                    data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                    data-dim="w:579px,478px,363px,223px;h:553px,456px,346px,213px;" data-vbility="t,t,t,f"
                    data-frame_0="x:-50,-41,-31,-19;" data-frame_1="st:100;sp:1000;" data-frame_999="o:0;st:w;sR:8500;"
                    style="z-index:8;font-family:Roboto;"><img
                        src="images/vector_page/vectorpage-banner-single_img2.png" width="598" height="571"
                        alt="banner-single_img2" data-no-retina>
                </rs-layer>


                <rs-layer id="slider-1-slide-3-layer-12" data-type="text" data-color="#6e6e6e" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:680px,561px,0,-409px;yo:509px,330px,227px,132px;"
                    data-text="w:normal;a:left,left,center;s:15,15,15,9;l:28,23,27,16;fw:400,400,500,500;"
                    data-vbility="t,t,t,f" data-frame_0="y:50,41,31,19;"
                    data-frame_1="e:Linear.easeNone;st:630;sp:500;sR:630;" data-frame_999="o:0;st:w;sR:7870;"
                    style="z-index:17;font-family:Poppins;">We are equipped with an updated technical knowledge
                    to serve <br> customers properly. Our method of application industry.
                </rs-layer>

            </rs-slide>
            <!-- rs-slide -->
        </rs-slides>
    </rs-module><!-- rs-module -->
</rs-module-wrap>
<!-- END REVOLUTION SLIDER -->