{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

{%- if site.posts.size > 0 -%}
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
    <div class="widget widget_text clearfix">
        <h3 class="widget-title">Latest News</h3>
        <ul class="widget-post ttm-recent-post-list">
            {%- for post in site.posts -%}
            <li>
                <a href="{{post.externalUrl | default: post.url}}">
                    <img src="{{post.image | default: '/images/vector_page/post-001-654x490.jpg'}}" alt="post-img">
                </a>
                <a href="{{post.externalUrl | default: post.url}}">{{ post.title | truncatewords: 3 | escape }}</a>
                {%- if site.show_excerpts -%}
                {{ post.excerpt }}
                {%- endif -%}
                <span class="post-date"><i class="fa fa-calendar"></i>{{ post.date | date: date_format }}</span>
            </li>
            {%- endfor -%}
        </ul>
    </div>
</div>
{%- endif -%}