<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
    <div class="widget widget_text clearfix">
        <h3 class="widget-title">Latest News</h3>
        <ul class="widget-post ttm-recent-post-list">
            <li>
                <a href="single-blog.html"><img src="images/vector_page/post-001-654x490.jpg" alt="post-img"></a>
                <a href="single-blog.html">10 Most Common IT Mistakes Need to Avoid</a>
                <span class="post-date"><i class="fa fa-calendar"></i>May 01, 2019</span>
            </li>
            <li>
                <a href="single-blog.html"><img src="images/vector_page/post-002-654x490.jpg" alt="post-img"></a>
                <a href="single-blog.html">How Can I Manage IT Services in Business ?</a>
                <span class="post-date"><i class="fa fa-calendar"></i>May 03, 2019</span>
            </li>
            <li>
                <a href="single-blog.html"><img src="images/vector_page/post-003-654x490.jpg" alt="post-img"></a>
                <a href="single-blog.html">5 Easy Ways to Improve Your Web Security</a>
                <span class="post-date"><i class="fa fa-calendar"></i>May 05, 2019</span>
            </li>
        </ul>
    </div>
</div>