<!-- ttm-topbar-wrapper -->
<div class="ttm-topbar-wrapper ttm-bgcolor-grey clearfix">
    <div class="container">
        <div class="ttm-topbar-content">
            <ul class="top-contact text-left">
                <!-- <li><i class="fa fa-map-marker"></i>Hyderabad, India</li> -->
                <li>
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:{{site.email}}">{{site.email}}</a>
                </li>
            </ul>
            <div class="topbar-right text-right">
                <ul class="top-contact">
                    <li><i class="fa fa-clock-o"></i>Office Hour: 09:00am - 6:00pm</li>
                </ul>
                <div class="ttm-social-links-wrapper list-inline pr-0">
                    <ul class="social-icons">
                        <li><a href="#" class=" tooltip-bottom" data-tooltip="Facebook"><i
                                    class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class=" tooltip-bottom" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class=" tooltip-bottom" data-tooltip="Linkedin"><i
                                    class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ttm-topbar-wrapper end -->