{% assign homeUrl = '/' | relative_url %}

<!-- ttm-header-wrap -->
<div class="ttm-header-wrap" id="ttm-home">
    <!-- ttm-stickable-header-w -->
    <div id="ttm-stickable-header-w" class="ttm-stickable-header-w clearfix">
        <div id="site-header-menu" class="site-header-menu">
            <div class="site-header-menu-inner ttm-stickable-header">
                <div class="container">
                    <!-- site-branding -->
                    <div class="site-branding">
                        <a class="home-link" href="{{ '/' | relative_url }}" title="TECH SUDOKU LLP" rel="home">
                            <img id="logo-img" class="img-fluid" src="{{ '/assets/logo-horizonal.svg' | relative_url }}"
                                alt="logo">
                        </a>
                    </div>
                    <!-- site-branding end -->
                </div>
            </div>
        </div>
    </div>
    <!-- ttm-stickable-header-w end-->
</div>
<!--ttm-header-wrap end -->