<!-- topzero-padding-section -->
<section id="products" class="ttm-row topzero-padding-section vector_bg-img1 clearfix">
    <div class="container">
        <div class="row">
            {%- include promoted-product1.html -%}
        </div>
        <!-- row end -->
        <!-- row -->
        <div class="row">
        </div>
        <!-- row end-->
        <div class="row pt-90 res-991-pt-50">
            {%- include promoted-product2.html -%}
        </div>
    </div>
</section>
<!-- topzero-padding-section end -->