<!-- topzero-padding-section -->
<section id="products" class="ttm-row topzero-padding-section vector_bg-img1 clearfix">
    <div class="container">
        <div class="row">
            <!-- row -->
            <div class="col-lg-6">
                <div class="pt-30 res-991-pt-0">
                    <!-- section title -->
                    <div class="section-title with-desc clearfix">
                        <div class="title-header">
                            <h5>About Us</h5>
                            <h2 class="title">We are here to fight against violance with <span> experience</span></h2>
                        </div>
                        <div class="title-desc">
                            <p>The argument in favor of using filler text goes something like this: If you use real
                                content in the design process.</p>
                        </div>
                    </div>
                    <!-- section title end -->
                    <!-- row -->
                    <div class="row mt-20">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <!--  featured-icon-box -->
                            <div class="featured-icon-box style3 left-icon icon-align-top">
                                <div class="featured-icon">
                                    <!--  featured-icon -->
                                    <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="ti ti-bookmark-alt"></i>
                                        <!--  ttm-icon -->
                                    </div>
                                </div>
                                <div class="featured-content">
                                    <!--  featured-content -->
                                    <div class="featured-title mb-5">
                                        <!--  featured-title -->
                                        <h5>Certified Company</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <!--  featured-desc -->
                                        <p>Quickly productivate just in time strategic theme.</p>
                                    </div>
                                </div>
                            </div>
                            <!--  featured-icon-box END -->
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <!--  featured-icon-box -->
                            <div class="featured-icon-box style3 left-icon icon-align-top">
                                <div class="featured-icon">
                                    <!--  featured-icon -->
                                    <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="ti ti-medall"></i>
                                        <!--  ttm-icon -->
                                    </div>
                                </div>
                                <div class="featured-content">
                                    <!--  featured-content -->
                                    <div class="featured-title mb-5">
                                        <!--  featured-title -->
                                        <h5>Award Ceremony</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <!--  featured-desc -->
                                        <p>Quickly productivate just in time strategic theme.</p>
                                    </div>
                                </div>
                            </div>
                            <!--  featured-icon-box END -->
                        </div>
                    </div>
                    <!-- row END-->
                    <!-- separator -->
                    <div class="separator">
                        <div class="sep-line mt-35 mb-30"></div>
                    </div>
                    <!-- separator -->
                    <!--  featured-icon-box -->
                    <div class="featured-icon-box left-icon icon-align-top">
                        <div class="featured-icon">
                            <img src="images/about-sign-2.png" alt="about-sign">
                        </div>
                        <div class="featured-content">
                            <!--  featured-content -->
                            <div class="featured-title">
                                <!--  featured-title -->
                                <h5>Jhon Martin</h5>
                            </div>
                            <div class="featured-desc">
                                <!--  featured-desc -->
                                <p>Chairman &amp; Founder Altech</p>
                            </div>
                        </div>
                    </div>
                    <!--  featured-icon-box END -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10 col-10 m-auto">
                <!-- ttm_single_image-wrapper -->
                <div class="ttm_single_image-wrapper pt-30">
                    <img class="img-fluid" src="images/vector_page/single_01.jpg" alt="single-01">
                </div>
                <!-- ttm_single_image-wrapper end -->
            </div>
        </div>
        <!-- row end -->
        <!-- row -->
        <div class="row">
        </div>
        <!-- row end-->
        <div class="row pt-90 res-991-pt-50">
            <!-- row -->
            <div class="col-lg-6 col-md-6 col-sm-10 col-10 m-auto">
                <!-- ttm_single_image-wrapper -->
                <div class="ttm_single_image-wrapper">
                    <img class="img-fluid" src="images/vector_page/single_02.png" alt="single-02">
                </div>
                <!-- ttm_single_image-wrapper end -->
            </div>
            <div class="col-lg-6">
                <div class="pl-30 res-991-pl-0 res-991-mt-40">
                    <!-- section title -->
                    <div class="section-title with-desc clearfix">
                        <div class="title-header">
                            <h5>About Us</h5>
                            <h2 class="title">We deal with the aspects of professional <span> IT Services</span></h2>
                        </div>
                        <div class="title-desc">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words</p>
                        </div>
                    </div>
                    <!-- section title end -->
                    <div class="pt-30 ttm-textcolor-darkgrey">
                        <!-- progress-bar -->
                        <div class="ttm-progress-bar" data-percent="92%">
                            <div class="progress-bar-title">App Development</div>
                            <!-- progress-bar-title -->
                            <div class="progress-bar-inner">
                                <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                            </div>
                            <div class="progress-bar-percent" data-percentage="92">92%</div>
                            <!-- progress-bar-percent -->
                        </div>
                        <!-- progress-bar END -->
                        <!-- progress-bar -->
                        <div class="ttm-progress-bar" data-percent="82%">
                            <div class="progress-bar-title">Business Growth</div>
                            <!-- progress-bar-TITLE -->
                            <div class="progress-bar-inner">
                                <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                            </div>
                            <div class="progress-bar-percent" data-percentage="82">82%</div>
                            <!-- progress-bar-PERCENT -->
                        </div>
                        <!-- progress-bar END -->
                        <!-- progress-bar -->
                        <div class="ttm-progress-bar" data-percent="90%">
                            <div class="progress-bar-title">Technology Solution</div>
                            <!-- progress-bar-title -->
                            <div class="progress-bar-inner">
                                <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                            </div>
                            <div class="progress-bar-percent" data-percentage="90">90%</div>
                            <!-- progress-bar-percent -->
                        </div>
                        <!-- progress-bar END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- topzero-padding-section end -->