{% assign promoted_product = "/products/" | append: site.promoted_product1 %}
{% assign promoted = site.products | where_exp:"product", "product.id == promoted_product" | first %}

<!-- row -->
<div class="col-lg-6">
    <div class="pt-30 res-991-pt-0">
        <!-- section title -->
        <div class="section-title with-desc clearfix">
            <div class="title-header">
                <h5>{{promoted.title}}</h5>
                <h2 class="title">{{promoted.tagline}}</h2>
            </div>
            <div class="title-desc">
                <p>{{promoted.description}}</p>
            </div>
        </div>
        <!-- section title end -->
        <!-- row -->
        <div class="row mt-20">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <!--  featured-icon-box -->
                <div class="featured-icon-box style3 left-icon icon-align-top">
                    <div class="featured-icon">
                        <!--  featured-icon -->
                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                            <i class="ti ti-bookmark-alt"></i>
                            <!--  ttm-icon -->
                        </div>
                    </div>
                    <div class="featured-content">
                        <!--  featured-content -->
                        <div class="featured-title mb-5">
                            <!--  featured-title -->
                            <h5>{{promoted.feature1}}</h5>
                        </div>
                        <div class="featured-desc">
                            <!--  featured-desc -->
                            <p>{{promoted.description1}}</p>
                        </div>
                    </div>
                </div>
                <!--  featured-icon-box END -->
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <!--  featured-icon-box -->
                <div class="featured-icon-box style3 left-icon icon-align-top">
                    <div class="featured-icon">
                        <!--  featured-icon -->
                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                            <i class="ti ti-medall"></i>
                            <!--  ttm-icon -->
                        </div>
                    </div>
                    <div class="featured-content">
                        <!--  featured-content -->
                        <div class="featured-title mb-5">
                            <!--  featured-title -->
                            <h5>{{promoted.feature2}}</h5>
                        </div>
                        <div class="featured-desc">
                            <!--  featured-desc -->
                            <p>{{promoted.description2}}</p>
                        </div>
                    </div>
                </div>
                <!--  featured-icon-box END -->
            </div>
        </div>
        <!-- row END-->
        <!-- separator -->
        <div class="separator">
            <div class="sep-line mt-35 mb-30"></div>
        </div>
        <!-- separator -->
        <!--  featured-icon-box -->
        <div class="featured-icon-box left-icon icon-align-top">
            <div class="featured-icon">
                <img src="images/about-sign-2.png" alt="about-sign">
            </div>
            <div class="featured-content">
                <!--  featured-content -->
                <div class="featured-title">
                    <!--  featured-title -->
                    <h5>{{promoted.feature3}}</h5>
                </div>
                <div class="featured-desc">
                    <!--  featured-desc -->
                    <p>{{promoted.description3}}</p>
                </div>
            </div>
        </div>
        <!--  featured-icon-box END -->
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-10 col-10 m-auto">
    <!-- ttm_single_image-wrapper -->
    <div class="ttm_single_image-wrapper pt-30">
        <img class="img-fluid" src="images/vector_page/single_01.jpg" alt="single-01">
    </div>
    <!-- ttm_single_image-wrapper end -->
</div>