{% assign promoted_product = "/products/" | append: site.promoted_product2 %}
{% assign product = site.products | where_exp:"product", "product.id == promoted_product" | first %}
{% assign feature1 = product.features[0] %}
{% assign feature2 = product.features[1] %}
{% assign feature3 = product.features[2] %}

<!-- row -->
<div class="col-lg-6 col-md-6 col-sm-10 col-10 m-auto">
    <!-- ttm_single_image-wrapper -->
    <div class="ttm_single_image-wrapper">
        <img class="img-fluid" src="{{product.image}}" alt="{{product.title}}">
    </div>
    <!-- ttm_single_image-wrapper end -->
</div>
<div class="col-lg-6">
    <div class="pl-30 res-991-pl-0 res-991-mt-40">
        <!-- section title -->
        <div class="section-title with-desc clearfix">
            <div class="title-header">
                <h5>{{product.title}}</h5>
                <h2 class="title">{{product.tagline}}</h2>
            </div>
            <div class="title-desc">
                <p>{{product.description}}</p>
            </div>
        </div>
        <!-- section title end -->
        <div class="pt-30 ttm-textcolor-darkgrey">
            <!-- progress-bar -->
            <div class="ttm-progress-bar" data-percent="82%">
                <div class="progress-bar-title">{{feature2.title}}</div>
                <!-- progress-bar-TITLE -->
                <div class="progress-bar-inner">
                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                </div>
                <div class="progress-bar-percent" data-percentage="82">82%</div>
                <!-- progress-bar-PERCENT -->
            </div>
            <!-- progress-bar END -->
            <!-- progress-bar -->
            <div class="ttm-progress-bar" data-percent="92%">
                <div class="progress-bar-title">{{feature1.title}}</div>
                <!-- progress-bar-title -->
                <div class="progress-bar-inner">
                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                </div>
                <div class="progress-bar-percent" data-percentage="92">92%</div>
                <!-- progress-bar-percent -->
            </div>
            <!-- progress-bar END -->
            <!-- progress-bar -->
            <div class="ttm-progress-bar" data-percent="35%">
                <div class="progress-bar-title">{{feature3.title}}</div>
                <!-- progress-bar-title -->
                <div class="progress-bar-inner">
                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                </div>
                <div class="progress-bar-percent" data-percentage="35">35%</div>
                <!-- progress-bar-percent -->
            </div>
            <!-- progress-bar END -->
        </div>
    </div>
</div>