{% assign promoted_product = "/products/" | append: site.promoted_product1 %}
{% assign product = site.products | where_exp:"product", "product.id == promoted_product" | first %}
{% assign feature1 = product.features[0] %}
{% assign feature2 = product.features[1] %}
{% assign feature3 = product.features[2] %}

<!-- row -->
<div class="col-lg-6">
    <div class="pt-30 res-991-pt-0">
        <!-- section title -->
        <div class="section-title with-desc clearfix">
            <div class="title-header">
                <h5>{{product.title}}</h5>
                <h2 class="title">{{product.tagline}}</h2>
            </div>
            <div class="title-desc">
                <p>{{product.description}}</p>
            </div>
        </div>
        <!-- section title end -->
        <!-- row -->
        <div class="row mt-20">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <!--  featured-icon-box -->
                <div class="featured-icon-box style3 left-icon icon-align-top">
                    <div class="featured-icon">
                        <!--  featured-icon -->
                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                            <i class="{{feature1.icon}}"></i>
                            <!--  ttm-icon -->
                        </div>
                    </div>
                    <div class="featured-content">
                        <!--  featured-content -->
                        <div class="featured-title mb-5">
                            <!--  featured-title -->
                            <h5>{{feature1.title}}</h5>
                        </div>
                        <div class="featured-desc">
                            <!--  featured-desc -->
                            <p>{{feature1.description}}</p>
                        </div>
                    </div>
                </div>
                <!--  featured-icon-box END -->
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <!--  featured-icon-box -->
                <div class="featured-icon-box style3 left-icon icon-align-top">
                    <div class="featured-icon">
                        <!--  featured-icon -->
                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                            <i class="{{feature2.icon}}"></i>
                            <!--  ttm-icon -->
                        </div>
                    </div>
                    <div class="featured-content">
                        <!--  featured-content -->
                        <div class="featured-title mb-5">
                            <!--  featured-title -->
                            <h5>{{feature2.title}}</h5>
                        </div>
                        <div class="featured-desc">
                            <!--  featured-desc -->
                            <p>{{feature2.description}}</p>
                        </div>
                    </div>
                </div>
                <!--  featured-icon-box END -->
            </div>
        </div>
        <!-- row END-->
        <!-- separator -->
        <div class="separator">
            <div class="sep-line mt-35 mb-30"></div>
        </div>
        <!-- separator -->
        <!--  featured-icon-box -->
        <div class="featured-icon-box style3 left-icon icon-align-top">
            <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                    <i class="{{feature3.icon}}"></i>
                </div>
                <!-- <img src="images/about-sign-2.png" alt="about-sign"> -->
            </div>
            <div class="featured-content">
                <!--  featured-content -->
                <div class="featured-title">
                    <!--  featured-title -->
                    <h5>{{feature3.title}}</h5>
                </div>
                <div class="featured-desc">
                    <!--  featured-desc -->
                    <p>{{feature3.description}}</p>
                </div>
            </div>
        </div>
        <!--  featured-icon-box END -->
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-10 col-10 m-auto">
    <!-- ttm_single_image-wrapper -->
    <div class="ttm_single_image-wrapper pt-30">
        <img class="img-fluid" src="{{product.image | relative_url}}" alt="{{product.title}}">
    </div>
    <!-- ttm_single_image-wrapper end -->
</div>