<!-- services-section -->
<section id="services" class="ttm-row services_2-section vector_bg-img3 clearfix">
    <div class="container">
        <div class="row">
            <!-- row -->
            <div class="col-lg-7 col-md-7 col-sm-10 m-auto">
                <!-- section title -->
                <div class="section-title with-desc text-center clearfix">
                    <div class="title-header">
                        <h5>Our Services</h5>
                        <h2 class="title">We are here to fight against any violance with <span> experience</span></h2>
                    </div>
                </div><!-- section title end -->
            </div>
        </div>
        <!-- row end -->
        <div class="ttm-boxes-quickservicebox position-relative mt-10">
            <div class="history-slide owl-carousel" data-item="3" data-nav="false" data-dots="false" data-auto="true">
                <!-- featured-icon-box -->
                <div class="featured-icon-box style9">
                    <div class="featured-icon">
                        <!--  featured-icon -->
                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                            <i class="flaticon flaticon-business-and-finance"></i><!--  ttm-icon -->
                        </div>
                        <div class="servicebox-number">01</div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h5>IT Consultancy</h5>
                        </div>
                        <div class="featured-desc">
                            Expertise in IT consultancy for the IT companies, for their different working areas Web-app
                            related.
                        </div>
                        <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-20"
                            href="#">Read More <i class="ti ti-angle-double-right"></i></a>
                    </div>
                </div><!-- featured-icon-box END-->
                <!--  featured-icon-box -->
                <div class="featured-icon-box style9">
                    <div class="featured-icon">
                        <!--  featured-icon -->
                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                            <i class="flaticon flaticon-computer"></i><!--  ttm-icon -->
                        </div>
                        <div class="servicebox-number">02</div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h5>IT Management</h5>
                        </div><!-- historybox-title  -->
                        <div class="featured-desc">
                            <!-- description  -->
                            We provide all kind of IT management services of in the according to on their organization
                            prioritie.
                        </div>
                        <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-20"
                            href="#">Read More <i class="ti ti-angle-double-right"></i></a>
                    </div>
                </div><!-- featured-icon-box END-->
                <!--  featured-icon-box -->
                <div class="featured-icon-box style9">
                    <div class="featured-icon">
                        <!--  featured-icon -->
                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                            <i class="flaticon flaticon-data"></i><!--  ttm-icon -->
                        </div>
                        <div class="servicebox-number">03</div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h5>Product Design</h5>
                        </div><!-- historybox-title  -->
                        <div class="featured-desc">
                            <!-- description  -->
                            Our firm is expert to create an efficient for user interface that makes design user
                            interaction lively.
                        </div>
                        <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-20"
                            href="#">Read More <i class="ti ti-angle-double-right"></i></a>
                    </div>
                </div><!-- featured-icon-box END-->
                <!--  featured-icon-box -->
                <div class="featured-icon-box style9">
                    <div class="featured-icon">
                        <!--  featured-icon -->
                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                            <i class="flaticon flaticon-global-1"></i><!--  ttm-icon -->
                        </div>
                        <div class="servicebox-number">04</div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h5>Cloud Services</h5>
                        </div><!-- historybox-title  -->
                        <div class="featured-desc">
                            <!-- description  -->
                            We develop, migrate and work on web applications to ensure that they run on capably on
                            clouds.
                        </div>
                        <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-20"
                            href="#">Read More <i class="ti ti-angle-double-right"></i></a>
                    </div>
                </div><!-- featured-icon-box END-->
            </div>
        </div><!-- row end-->
        <div class="row pt-90">
            <!-- row -->
            <div class="col-lg-6 col-md-6 col-sm-10 col-10 m-auto">
                <!-- ttm_single_image-wrapper -->
                <div class="ttm_single_image-wrapper">
                    <img class="img-fluid" src="images/vector_page/single_03.png" alt="single-03">
                </div><!-- ttm_single_image-wrapper end -->
            </div>
            <div class="col-lg-6">
                <div class="pl-30 res-991-pl-0 res-991-mt-40">
                    <!-- section title -->
                    <div class="section-title with-desc clearfix">
                        <div class="title-header">
                            <h5>Recruitment Technologies</h5>
                            <h2 class="title">Solving Recruitment Using <span> Technology</span></h2>
                        </div>
                        <div class="title-desc">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words</p>
                        </div>
                    </div><!-- section title end -->
                    <div class="mt-25">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box left-icon icon-align-top">
                            <div class="featured-icon">
                                <div
                                    class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round pl-0">
                                    <i class="ti ti-info ttm-num font-weight-bold"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <!-- featured-content -->
                                <div class="featured-title">
                                    <!-- featured-title -->
                                    <h5>Exclusive Service</h5>
                                </div>
                                <div class="featured-desc">
                                    <!-- featured-desc -->
                                    <p>Lorem Ipsum is simply dummy textover of the printing and typesetting industryin.
                                        printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box -->
                    </div>
                    <div class="separator">
                        <div class="sep-line mt-30 mb-30"></div>
                    </div>
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box left-icon icon-align-top">
                        <div class="featured-icon">
                            <div
                                class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round pl-0">
                                <i class="ti ti-info ttm-num font-weight-bold"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <!-- featured-title -->
                                <h5>Experts Team</h5>
                            </div>
                            <div class="featured-desc">
                                <!-- featured-desc -->
                                <p>Lorem Ipsum is simply dummy textover of the printing and typesetting industryin.
                                    printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div><!-- featured-icon-box -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services-section end -->