<!-- featured-icon-box -->
<div class="featured-icon-box style9">
    <div class="featured-icon">
        <!--  featured-icon -->
        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
            <i class="flaticon flaticon-business-and-finance"></i>
            <!--  ttm-icon -->
        </div>
        <div class="servicebox-number">01</div>
    </div>
    <div class="featured-content">
        <div class="featured-title">
            <h5>IT Consultancy</h5>
        </div>
        <div class="featured-desc">
            Expertise in IT consultancy for the IT companies, for their different working areas Web-app
            related.
        </div>
        <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-20" href="#">Read
            More <i class="ti ti-angle-double-right"></i></a>
    </div>
</div>
<!-- featured-icon-box END-->

<!--  featured-icon-box -->
<div class="featured-icon-box style9">
    <div class="featured-icon">
        <!--  featured-icon -->
        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
            <i class="flaticon flaticon-computer"></i>
            <!--  ttm-icon -->
        </div>
        <div class="servicebox-number">02</div>
    </div>
    <div class="featured-content">
        <div class="featured-title">
            <h5>IT Management</h5>
        </div>
        <!-- historybox-title  -->
        <div class="featured-desc">
            <!-- description  -->
            We provide all kind of IT management services of in the according to on their organization
            prioritie.
        </div>
        <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-20" href="#">Read
            More <i class="ti ti-angle-double-right"></i></a>
    </div>
</div>
<!-- featured-icon-box END-->

<!--  featured-icon-box -->
<div class="featured-icon-box style9">
    <div class="featured-icon">
        <!--  featured-icon -->
        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
            <i class="flaticon flaticon-data"></i>
            <!--  ttm-icon -->
        </div>
        <div class="servicebox-number">03</div>
    </div>
    <div class="featured-content">
        <div class="featured-title">
            <h5>Product Design</h5>
        </div>
        <!-- historybox-title  -->
        <div class="featured-desc">
            <!-- description  -->
            Our firm is expert to create an efficient for user interface that makes design user
            interaction lively.
        </div>
        <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-20" href="#">Read
            More <i class="ti ti-angle-double-right"></i></a>
    </div>
</div>
<!-- featured-icon-box END-->

<!--  featured-icon-box -->
<div class="featured-icon-box style9">
    <div class="featured-icon">
        <!--  featured-icon -->
        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
            <i class="flaticon flaticon-global-1"></i>
            <!--  ttm-icon -->
        </div>
        <div class="servicebox-number">04</div>
    </div>
    <div class="featured-content">
        <div class="featured-title">
            <h5>Cloud Services</h5>
        </div>
        <!-- historybox-title  -->
        <div class="featured-desc">
            <!-- description  -->
            We develop, migrate and work on web applications to ensure that they run on capably on
            clouds.
        </div>
        <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-20" href="#">Read
            More <i class="ti ti-angle-double-right"></i></a>
    </div>
</div>
<!-- featured-icon-box END-->