<!-- team-section -->
<section id="team" class="ttm-row bottomzero-padding-section vector_bg-img4 mt_10 clearfix">
    <div class="container">
        <div class="row">
            <!-- row -->
            <div class="col-lg-7 m-auto">
                <!-- section title -->
                <div class="section-title with-desc text-center clearfix">
                    <div class="title-header">
                        <h5>We Make Connections</h5>
                        <h2 class="title">Meet Our Leadership</h2>
                    </div>
                </div>
                <!-- section title end -->
            </div>
        </div>
        <!-- row end -->
        <!-- row -->
        <div class="row">
            <div class="team-slide owl-carousel mt-10" data-item="3" data-nav="false" data-dots="false"
                data-auto="false">
                <!-- featured-imagebox-team -->
                <div class="featured-imagebox featured-imagebox-team style1">
                    <div class="featured-thumbnail">
                        <!-- featured-thumbnail -->
                        <img class="img-fluid" src="https://via.placeholder.com/480X520/444444.jpg" alt="image">
                        <div class="ttm-social-links-wrapper">
                            <ul class="social-icons list-inline">
                                <!-- social-icons -->
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-twitter"><a href=""><i class="fa fa-twitter"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-googleplus"><a href="#"><i class="fa fa-google-plus"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="featured-content box-shadow">
                        <div class="featured-title">
                            <!-- featured-title -->
                            <h5><a href="team-details.html">Jennifer Garcia</a></h5>
                        </div>
                        <p class="category">IT Service Officer</p>
                        <!-- category -->
                    </div>
                </div>
                <!-- featured-imagebox-team end-->
                <!-- featured-imagebox-team -->
                <div class="featured-imagebox featured-imagebox-team style1">
                    <div class="featured-thumbnail">
                        <!-- featured-thumbnail -->
                        <img class="img-fluid" src="https://via.placeholder.com/480X520/444444.jpg" alt="image">
                        <div class="ttm-social-links-wrapper">
                            <ul class="social-icons list-inline">
                                <!-- social-icons -->
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-twitter"><a href=""><i class="fa fa-twitter"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-googleplus"><a href="#"><i class="fa fa-google-plus"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="featured-content box-shadow">
                        <div class="featured-title">
                            <!-- featured-title -->
                            <h5><a href="team-details.html">Robert Liam</a></h5>
                        </div>
                        <p class="category">Web Designer</p>
                        <!-- category -->
                    </div>
                </div>
                <!-- featured-imagebox-team end-->
                <!-- featured-imagebox-team -->
                <div class="featured-imagebox featured-imagebox-team style1">
                    <div class="featured-thumbnail">
                        <!-- featured-thumbnail -->
                        <img class="img-fluid" src="https://via.placeholder.com/480X520/444444.jpg" alt="image">
                        <div class="ttm-social-links-wrapper">
                            <ul class="social-icons list-inline">
                                <!-- social-icons -->
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-twitter"><a href=""><i class="fa fa-twitter"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-googleplus"><a href="#"><i class="fa fa-google-plus"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="featured-content box-shadow">
                        <div class="featured-title">
                            <!-- featured-title -->
                            <h5><a href="team-details.html">Jessica Ethan</a></h5>
                        </div>
                        <p class="category">Project Manager</p>
                        <!-- category -->
                    </div>
                </div>
                <!-- featured-imagebox-team end-->
                <!-- featured-imagebox-team -->
                <div class="featured-imagebox featured-imagebox-team style1">
                    <div class="featured-thumbnail">
                        <!-- featured-thumbnail -->
                        <img class="img-fluid" src="https://via.placeholder.com/480X520/444444.jpg" alt="image">
                        <div class="ttm-social-links-wrapper">
                            <ul class="social-icons list-inline">
                                <!-- social-icons -->
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-twitter"><a href=""><i class="fa fa-twitter"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"
                                            aria-hidden="true"></i></a></li>
                                <li class="social-googleplus"><a href="#"><i class="fa fa-google-plus"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="featured-content box-shadow">
                        <div class="featured-title">
                            <!-- featured-title -->
                            <h5><a href="team-details.html">Amanda Brown</a></h5>
                        </div>
                        <p class="category">Consultant Officer</p>
                        <!-- category -->
                    </div>
                </div>
                <!-- featured-imagebox-team end-->
            </div>
        </div>
        <!-- row end-->
        <div class="row pt-90 res-991-pt-50">
            <div class="col-lg-12">
                <div class="vector_bg-img5 ttm-bg ttm-col-bgimage-yes spacing-1 pl-15 h-100 m-0 box-shadow">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                        <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                        <div class="row">
                            <!-- row -->
                            <div class="col-lg-12">
                                <!-- section title -->
                                <div class="section-title text-center clearfix">
                                    <div class="title-header">
                                        <h5>Recent Projects</h5>
                                        <h2 class="title">What Clients Say</h2>
                                    </div>
                                </div>
                                <!-- section title end -->
                            </div>
                        </div>
                        <div class="row">
                            <!-- row -->
                            <div class="col-md-10 m-auto">
                                <div class="testimonial-slide style2 owl-carousel" data-item="1" data-nav="true"
                                    data-dots="false" data-auto="false">
                                    <!-- testimonials -->
                                    <div class="testimonials text-center style2">
                                        <div class="testimonial-content">
                                            <!-- testimonials-content -->
                                            <blockquote>Our team discussed every single detail to make sure Creatives
                                                Planet is the most versatile and unique theme created so far.No coding
                                                skills required loream ipsum simply dummy text contary.</blockquote>
                                            <div class="ttm-ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="testimonial-caption">
                                                <!-- testimonials-caption -->
                                                <h6>Victor Williamson</h6>
                                                <label>Web Devloper</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- testimonials END -->
                                    <!-- testimonials -->
                                    <div class="testimonials text-center style2">
                                        <div class="testimonial-content">
                                            <!-- testimonials-content -->
                                            <blockquote>Our team discussed every single detail to make sure Creatives
                                                Planet is the most versatile and unique theme created so far.No coding
                                                skills required loream ipsum simply dummy text contary.</blockquote>
                                            <div class="ttm-ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="testimonial-caption">
                                                <!-- testimonials-caption -->
                                                <h6>Victor Williamson</h6>
                                                <label>Web Devloper</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- testimonials END -->
                                    <!-- testimonials -->
                                    <div class="testimonials text-center style2">
                                        <div class="testimonial-content">
                                            <!-- testimonials-content -->
                                            <blockquote>Our team discussed every single detail to make sure Creatives
                                                Planet is the most versatile and unique theme created so far.No coding
                                                skills required loream ipsum simply dummy text contary.</blockquote>
                                            <div class="ttm-ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="testimonial-caption">
                                                <!-- testimonials-caption -->
                                                <h6>Victor Williamson</h6>
                                                <label>Web Devloper</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- testimonials END -->
                                </div>
                            </div>
                        </div>
                        <!-- row end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-section end -->